.background{
    width: 100vw;
    height: 100vh;
    position: absolute;
    right:0px;
    top:0px; 
}
.background div{
    position:relative;
    width:0px;
    height:0px;
    border-left: 35px solid transparent;
      border-right: 20px solid transparent;
    border-bottom: 60px solid rgb(196, 4, 93);
    
}
.background div:nth-child(1){
    top:100px;
    left:50px;
    transform: rotate(135deg) scale(0.5);
    opacity:0.4;
    filter:drop-shadow(0px 0px 1px rgba(255, 28, 134, 0.993));
}
.background div:nth-child(2){
    top:300;
    left:200px;
    transform: rotate(5deg) scale(0.4);
    opacity:0.2;
    filter:drop-shadow(0px 0px 1px rgba(255, 28, 134, 0.993));
}
.background div:nth-child(3){
    top:200px;
    left:200px;
    transform: rotate(35deg) scale(0.2);
    opacity:0.5;
    filter:drop-shadow(0px 0px 1px rgba(255, 28, 134, 0.993));
}
.background div:nth-child(4){
    top:170px;
    left:500px;
    transform: rotate(120deg) scale(1);
    opacity:0.2;
    filter:drop-shadow(0px 0px 1px rgba(255, 28, 134, 0.993));
  }
  .background div:nth-child(5){
    top:-160px;
    left:700px;
    transform: rotate(120deg) scale(0.6);
    opacity:0.5;
    filter:drop-shadow(0px 0px 1px rgba(255, 28, 134, 0.993));
  }
  .background div:nth-child(6){
    top:200px;
    left:700px;
    transform: rotate(0deg) scale(0.3);
    opacity:0.3;
    filter:drop-shadow(0px 0px 1px rgba(255, 28, 134, 0.993));
  }
  .background div:nth-child(7){
    top:180px;
    left:20px;
    transform: rotate(5deg) scale(0.8);
    opacity:0.3;
    filter:drop-shadow(0px 0px 1px rgba(255, 28, 134, 0.993));
  }
  .background div:nth-child(8){
    top:80px;
    left:1100px;
    transform: rotate(-45deg) scale(1);
    opacity:0.2;
    filter:drop-shadow(0px 0px 1px rgba(255, 28, 134, 0.993));
  }
  .background div:nth-child(9){
    top:-400px;
    left:1100px;
    transform: rotate(-45deg) scale(0.5);
    opacity:0.2;
    filter:drop-shadow(0px 0px 1px rgba(255, 28, 134, 0.993));
  }
  .background div:nth-child(10){
    top:-400px;
    left:950px;
    transform: rotate(-45deg) scale(0.5);
    opacity:0.5;
    filter:drop-shadow(0px 0px 1px rgba(255, 28, 134, 0.993));
  }
  .background div:hover{
    border-bottom-color: rgb(190, 5, 51);
    transition: 1s;
    transform-origin: 50% 55%;
    }
  .background span{
    position: absolute;
    top:0px;
    left:0px;
    width:4px;
    height:4px;
    border-radius: 50%;
    box-shadow: 50px 100px 4px rgb(247, 208, 196),
    200px 10px 4px rgb(247, 208, 196),
    90px 300px 4px rgb(247, 208, 196),
    500px 200px 4px rgb(247, 208, 196),
    10px 350px 4px rgb(247, 208, 196),
    50px 700px 4px rgb(247, 208, 196),
    250px 600px 4px rgb(247, 208, 196),
    130px 460px 4px rgb(247, 208, 196),
    650px 360px 4px rgb(247, 208, 196),
    330px 310px 4px rgb(247, 208, 196),
    700px 103px 4px rgb(247, 208, 196),
    900px 350px 4px rgb(247, 208, 196),
    60px 1000px 4px rgb(247, 208, 196),
    550px 300px 4px rgb(247, 208, 196),
    460px 500px 4px rgb(247, 208, 196),
    900px 600px 4px rgb(247, 208, 196),
    1130px 60px 4px rgb(247, 208, 196),
    540px 320px 4px rgb(247, 208, 196),
    1000px 100px 4px rgb(168, 49, 13),
    760px 200px 4px rgb(247, 208, 196),
    400px 400px 4px rgb(247, 208, 196),
    1030px 30px 4px rgb(247, 208, 196),
    640px 390px 4px rgb(247, 208, 196),
    800px 200px 4px rgb(168, 49, 13),
    300px 100px 4px rgb(168, 49, 13),
    20px 200px 4px rgb(247, 208, 196),
    2700px 300px 4px rgb(247, 208, 196),
    430px 50px 4px rgb(247, 208, 196),
    390px 190px 4px rgb(247, 208, 196),
    1050px 230px 4px rgb(168, 49, 13),
    800px 560px 4px rgb(247, 208, 196),
    1090px 90px 4px rgb(247, 208, 196),
    750px 200px 4px rgb(168, 49, 13);
    background-color: rgb(255, 180, 145),;
    z-index: -10;
    animation-name: ;
    animation-duration: 6s;
    animation-delay: 0s;
    animation-iteration-count: infinite;

   
}
@keyframes remove{
0%{display: none;}
100%{display: inline;}
}
@keyframes moving{
  0%{transform: translateY(0px); display: inline;}
  99%{transform: translateY(200px); display: none;}
  100%{transform: translateY(20px);}
 
  }