*{
  margin: 0px;
  padding:0px;
}
nav{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content:space-around;
  background-color: rgb(75, 70, 73);
  height:100vh;
  width:80px;
}
li{
  margin: 20px;
  list-style: none;
  display:inline-block;
  padding: 0px;
  margin:10px;
}
.logo, .check{
  display:inline-block;
  width:fit-content;
  height:20px;
  text-decoration: none;
  padding:20px 1px;
  color:white;
  font-size: 15px;
}
