body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.leaf{
  width:50px;
  height:50px;
  transform: translate(40%,150%);

  box-shadow: 80px 0px 0px teal;
  background-color: rgb(28, 139, 184);

  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;

}
.leaf::before{
 
  display: block;
  content:'';
  position: absolute;
  left:50%;
  right: 50%;
  width: 40rem;
  height:4rem;
  transform: translate(400px,200px);
  background-image: linear-gradient(to bottom, white 70%, brown 30%),
  linear-gradient(-13deg, rgb(65, 42, 42) 30%, brown 70%);
  
}
