*{
  margin: 0px;
  padding:0px;
}
body{
  background-color: rgb(42, 54, 54);
  overflow: hidden;
}
html{
  overflow: hidden;
}


.navbar{
  background-color:transparent;
  height:80px;
  display:flex;
  justify-content:start;
  align-items: center;
}
.menu-bars{
  transition: 0.7s ease-in-out;
  margin-left:4rem;
  margin-top: 3rem;
  font-size: 2rem;
  background: none;
  z-index: 10;
}
.menu-bars span{
  background-color: white;
  height:4px;
  margin:6px;
  display: block;
  position: relative;
  left:0px;
  top:0px;
  transition:0.7s ease-in-out;
}
.menu-bars span:nth-child(1){
  width:50px;
}
.menu-bars span:nth-child(2){
  width:30px;
}
.menu-bars span:nth-child(3){
  width:15px;
}
.menu-bars span:nth-child(4){
  width:75px;
}
.menu-bars.cross{
  margin-left:11rem;
  
}
  .menu-bars.cross span:nth-child(1){
    
    top:30px;
    width:50px;
    transform: rotate(45deg);
  }
  .menu-bars.cross span:nth-child(2),.menu-bars.cross span:nth-child(3){
    
    background-color: transparent;
  }
  .menu-bars.cross span:nth-child(4){
    
    margin-bottom: 30px;
    width:50px;
    transform: rotate(-45deg);

  }

.nav-menu{
  z-index: 5;
  background-color: rgb(34, 47, 104);
  width: 250px;
  height:100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top:0;
  left:-100%;
  transition: 0.7s ease-in-out;
}

.nav-menu.active{
  left:0;
}
.nav-text{
 
  list-style: none;
  height:60px;
}

.nav-text a{
 text-decoration: none;
 color:honeydew;
 font-size: 20px;
 height:100%;
 display: flex;
 margin:0px 20%;
 padding:0 16px;
 border-radius: 4px;
 
}

.nav-menu-items{
  padding-top: 50%;
  width: 100%;
}

span{
  margin-left: 20px;
}
.home{
  width:100vw;
  height:100vh;
}
.homeBackground {
  position: absolute;
  right:0px;
  top:0px; 
}

.homeBackground div{
  position:relative;
  width:0px;
  height:0px;
  border-left: 35px solid transparent;
	border-right: 20px solid transparent;
  border-bottom: 60px solid rgb(196, 4, 93);
  
}

.homeBackground div:nth-child(1){
  top:0px;
  left:0px;
  transform: rotate(135deg) scale(3);
  opacity:0.8;
  filter:drop-shadow(40px 20px 0px rgba(124, 20, 69, 0.5));
}
.homeBackground div:nth-child(2){
  top:60px;
  left:-10px;
  transform: rotate(195deg) scale(2);
  opacity:0.5;
  filter:drop-shadow(40px -20px 0px rgba(124, 20, 69, 0.5));
}
.homeBackground div:nth-child(3){
  top:-140px;
  left:-240px;
  transform: rotate(45deg) scale(2);
  opacity:0.5;
  filter:drop-shadow(100px -30px 0px rgba(124, 20, 68, 0.993));
}
.homeBackground div:nth-child(4){
  top:-100px;
  left:-130px;
  transform: rotate(195deg) scale(3);
  opacity:0.4;
  filter:drop-shadow(-40px -40px 0px rgba(124, 20, 68, 0.993));
}
.homeBackground div:nth-child(5){
  top:-10px;
  left:-150px;
  transform: rotate(45deg) scale(1);
  opacity:0.7;
  filter:drop-shadow(-150px -40px 0px rgba(124, 20, 68, 0.993));
}
.homeBackground div:nth-child(6){
  top:-130px;
  left:-100px;
  transform: rotate(90deg) scale(1.5);
  opacity:0.5;
  filter:drop-shadow(0px 40px 0px rgba(124, 20, 68, 0.993));
}

.homeBackground div:hover{
border-bottom-color: rgb(190, 5, 51);
}
